<%- include('partials/indexHeader.ejs') %>
<div id='tophalf'>
    <div class="container">
        <div id = "introCard" class="jumbotron">
            <% if(currentUser){ %>
                <h1 class="display-4">Hello, <%= currentUser.username%>!</h1>
            <% }else{ %>
                <h1 class="display-4">Welcome!</h1>
            <% } %>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <form id="otherUser" action="" method="GET" autocomplete="off">
                <div class="form-row">
                  <div class="col-md-7 autocomplete">
                    <input type="text" class="form-control" id="searchUser" name="username" placeholder="Search Other Users">
                  </div>
                  <div class='col-md-3'>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
<% if(!currentUser) {%>
<div id='bottomhalf'>
    <div class="container">
        <h1>New or Returning?</h1>
        <div id="signUpBtns">
            <a href="/login" class="btn btn-light btn-lg">Login</a>
            <a href="/register" class="btn btn-success btn-lg">Register</a>
        </div>
    </div>
</div>
<% }else{ %>
    <div>
        <h1 class='display-4'>Recents</h1>
    </div>
<% } %>

<script src="/scripts.js"></script>
<script>
    let users = <%- JSON.stringify(names) %>;
    autocomplete(document.getElementById("searchUser"), users);
</script>
<script>
$('#otherUser').submit(function(){
    var user = $('#searchUser').val();
    $(this).attr('action', "/" + user);
  }); 
</script>
<%- include('partials/footer.ejs') %>