<%- include('partials/header.ejs') %>
<div id='tophalf'>
    <div id = "homepage" class="container">
        <div id = "introCard" class="jumbotron">
            <% if(currentUser){ %>
                <h1 class="display-4">Hello, <%= currentUser.username%>!</h1>
            <% }else{ %>
                <h1 class="display-4">Welcome!</h1>
            <% } %>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
</div>
<div id='bottomhalf'>
    <div class="container">
        <h1>New or Returning?</h1>
        <div id="signUpBtns">
            <a href="/login" class="btn btn-light btn-lg">Login</a>
            <a href="/register" class="btn btn-success btn-lg">Register</a>
        </div>
    </div>
</div>


<%- include('partials/footer.ejs') %>