<%- include('../partials/header') %>
<div class='form-flex-div flex-column text-center'>
    <form action="/accounts/<%= currentUser.username %>/edit?_method=PUT" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Change Account Information</h1>
        <label for="username" class="sr-only">Change Username</label>
        <input type="text" id="username" name="username" class="form-control font-weight-bold" placeholder="Change Username" required autofocus value="<%= currentUser.username %>">
        <label for="inputPassword" class="sr-only">Change Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control mb-0" placeholder="New Password">
        <small id="passwordHelpBlock" class="form-text text-muted mb-3">
            If you don't wish to change your password, leave this field blank.
          </small>
        <label for="confirmPass" class="sr-only">Confirm New Password</label>
        <input type="password" id="confirmPass" name="confirmPass" class="form-control" placeholder="Confirm New Password">
        <div class="input-group mb-4">
            <label class="custom-file-label file-upload text-left" for="file">Add profile image</label>
            <input type="file" class="custom-file-input file-upload" accept="image/*" id="file" name="propic" aria-describedby="imageInput">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit Changes">Save Changes</button>
    </form>
    <img class="mb-3" id="output"/>
</div>

<script>
    document.getElementById("file").onchange = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
<%- include('../partials/footer') %>