<%- include('../partials/header') %>

<div class="profile-pic">
    <span class="dot"></span>
    <div class='profile-username'>
        <h1><%= foundUser.username %></h1>
    </div>
</div>

<%- include('../partials/footer') %>