#alertMessage{
    position: fixed;
    z-index: 2;
    top: 3rem;
    left: 25%;
    width: 50%;
}

body{
    overflow-x: hidden;
}

.slideshow { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -1;
    animation: imageAnimation 50s linear infinite; 
  }

  .slideshow li:nth-child(1) { 
    background-image: url(https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80); 
    animation-delay: -5s;
  }
  .slideshow li:nth-child(2) { 
    background-image: url(https://images.unsplash.com/photo-1504309092620-4d0ec726efa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    animation-delay: 5s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(https://images.unsplash.com/photo-1496318447583-f524534e9ce1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1610&q=80);
    animation-delay: 15s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(https://images.unsplash.com/photo-1476681133757-d20293a9f2de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80s);
    animation-delay: 25s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(https://images.unsplash.com/photo-1570896168675-7338d1e857cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    animation-delay: 35s; 
  }
  
  @keyframes imageAnimation { 
    0% { 
      opacity: 0;
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }

#tophalf{
    min-height: 30rem;
    width: 100%;
    position: relative;
    padding: 4rem 0 3rem 0;
}

#bottomhalf{
    padding-top: 4rem;
    text-align: center;
}

.bg-blue{
    background-color: #3d93dd;
}

#signUpBtns a{
    margin: 0 2rem;
}

.btn.green-outline-btn{
    color:#32d081;
    border-color: #32d081;
}

.btn.green-outline-btn:hover{
    background-color: #32d081;
    color: white;
}

.btn.greenbtn{
    background-color: #32d081;
    border-color: #32d081;
    color: white;
}

.btn.lightbluebtn{
    background-color: #5bc5ea;
    border-color: #5bc5ea;
    color: white;
}

#mainNav.scrolled{
    background: #3d93dd;
    transition: background 500ms;
}

#mainNav .navbar-toggler{
    border-color: white;
}

#mainNav .navbar-toggler-icon{
    background-image: url(https://img.icons8.com/color/48/000000/beach.png);
    background-position: center center;
}

#mainNav a{
    color: white;
}

#mainNav .nav-item .nav-link:hover{
    color:#f7dd7d;
}

.autocomplete-items {
    position: absolute;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    max-height: 20vh;
    overflow: auto; 
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4;
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
