.form-flex-div{
    height: 100vh;
    display: flex;
    align-items: center;
}

.form-control{
    margin-bottom: 1rem;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#alertMessage{
    position: fixed;
    top: 5%;
    left: 25%;
    width: 50%;
    text-align: center;
}