<%- include('../partials/header') %>
<div class='container form-flex-div'>
    <form class='w-100' action='/accounts/<%= currentUser.username %>/posts/new' method="POST">
        <p class='display-4 text-center'>Make a New Post</p>
        <div class="form-group">
          <label for="postTitleInput">Title</label>
          <input type="text" class="form-control" id="postTitleInput" name='title'>
        </div>
        <div class="form-group">
          <label for="postImgURLInput">Image link</label>
          <input type="text" class="form-control" id="postImgURLInput" name='image'>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Example multiple select</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="postBodyInput">Caption</label>
          <textarea class="form-control" id="postBodyInput" rows="10" name='body'></textarea>
        </div>
        <input type="submit" class='btn btn-primary' value="Submit">
      </form>
</div>

<%- include('../partials/footer') %>