<%- include('../partials/header') %>

<div class='container form-flex-div'>
    <form class='w-100' action='/accounts/<%= currentUser.username %>/posts/new' method="POST">
        <p class='display-4 text-center mt-5'>Make a New Post</p>
        <div class="form-group">
          <label for="postTitleInput">Title</label>
          <input type="text" class="form-control" id="postTitleInput" name='title'>
        </div>
        <div class="form-group">
          <label for="postImgURLInput">Image link</label>
          <input type="text" class="form-control" id="postImgURLInput" name='image'>
        </div>
        <div class="form-group">
          <label for="postImgPreview">Image Preview</label>
          <div class='imgPreviewContainer'>
            <img id='postImgPreview'>
          </div>
        </div>
        <div class="form-group">
          <label for="postBodyInput">Caption</label>
          <textarea class="form-control" id="postBodyInput" rows="10" name='body'></textarea>
        </div>
        <input type="submit" class='btn btn-primary mb-5' value="Submit">
      </form>
</div>


<script>
  document.getElementById("postImgURLInput").addEventListener('change', function(){
    const element = this;
    document.getElementById("postImgPreview").setAttribute("src", element.value);
  });
</script>

<%- include('../partials/footer') %>